/*headers*/
@font-face {
  font-family: 'Unbounded';
  src: url('/Assets/Fonts/Unbounded/Unbounded-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}

/* subheaders */
@font-face {
  font-family: 'Hepta Slab';
  src: url('/Assets/Fonts/Hepta_Slab/HeptaSlab-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}

/* links + code + buttons */
@font-face {
  font-family:'Source Code Pro';
  src:url('/Assets/Fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}

/* italic links + code + buttons */
@font-face {
  font-family:'Source Code Pro';
  src:url('/Assets/Fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:italic;
  font-display:swap;
}
/*body*/
@font-face{
  font-family: 'Alumni Sans';
  src:url('/Assets/Fonts/Alumni_Sans/AlumniSans-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:normal;
  font-display:swap;
}

/*body italic*/
@font-face{
  font-family: 'Alumni Sans';
  src:url('/Assets/Fonts/Alumni_Sans/AlumniSans-Italic-VariableFont_wght.ttf');
  font-weight:100 900;
  font-style:italic;
  font-display:swap;
}

h1, h2, h3{
    font-family:$Unbounded;
    font-weight:700;
    color:$bg;
}

h4, h5, h6{
    font-family:$HeptaSlab;
    font-weight:500;
    color:$text-color;
}

button, a, code{
    font-family:$SourceCodePro;
    font-weight:400;
    text-decoration:none;
}
a, b{
    color:$accent;
}

body, b, p, i, ul, ol, li, blockquote, pre{
    font-family:$AlumniSans;
    font-weight:400;
    $font-size:$para;
    color:$text-color;
    line-height:1.25;
}

h1{
    font-size:$h1;
}

h2{
    font-size:$h2;
}

h3{
    font-size:$h3;
}

h4{
    font-size:$h4;
}

h5{
    font-size:$h5;
}

h6{
    font-size:$h6;
}