/*                                                                                                                                                                                                                                                   
                                  ████                                                                                    
              ████████            ████     ████████     ██████████     ████   ████   █████   ████     ███████             
                    ████     █████████    ████   ████   ████   █████   ████   ████     ████████     ████   ████           
              ██████████   ████   █████   ███████████   █████  █████   ████   ████       ████       ████   ████           
            █████   ████   ████   █████   ████          █████  █████     █████████     ████████     ████   ████           
              ██████████     ██████████    ████████     █████  █████          ████   █████  █████     ████████            
                                                                       █████████                                          
                                                                                                                          
                                             █████                       █████                                            
                                            ██████████                █████████                                           
                                           █████████████████████████████████████                                          
                                          ███████████████████████████████████████                                         
                                         █████████████████████████████████████████                                        
                                         █████████████████████████████████████████                                        
*/
// Color palette
$primary-dark:#a15bc9;
$secondary-dark:#311A3D;
$tertiary-dark:#ebc3ff;
$quartenary-dark:#5e4b67eb;
$quinary-dark:#c85b83;
$primary:#c57dcf;
$secondary:#e5c0e9;
$tertiary:#99809ce7;
$quartenary:#2c262ce2;
$quinary:#a4dfd9;
$grad:#f5e2ff; $grad-100:#cea6e2; $grad-200:#8a7695; $grad-300:#64576c; $grad-border:#352d39da;

// Theming v.1.0.0.0 LIGHT
$bg:$secondary;
$hf:$primary; //headers footers
$borders:$tertiary;
$text-color:$quartenary;
$accent:$quinary;

// V.1.0.0.0 DARK
$bg-dark:$secondary-dark;
$hf-dark:$primary-dark;
$borders-dark:$tertiary-dark;
$text-color-dark:$quartenary-dark;
$accent-dark:$quinary-dark;


// TYPOGRAPHY VARS V.1.0.0.0
$Unbounded:'Unbounded', sans-serif; // headers
$HeptaSlab:'Hepta Slab', sans-serif; // subheaders
$SourceCodePro:'Source Code Pro', monospace; // links + code + buttons
$AlumniSans:'Alumni Sans', sans-serif; // body

// FONT SIZES
$base-font:16px; // root
$h1:clamp(3rem, 4vw + 1rem, 5rem); //headers 48px, 16px, 80px
$h2:clamp(2.5rem, 3vw + 1rem, 4rem); // subheaders 40px, 16px, 64px
$h3:clamp(2rem, 3vw + 1rem, 3rem); // subtitles 32x, 16px, 48px
$h4:clamp(1.75rem, 3vw + 1rem, 2.75rem); // Alert titles 24px, 16px, 40px
$h5:clamp(1.5rem, 3vw +1rem, 2.5rem); // Sidebar/nav titles 24px, 16px, 40px sidebar
$h6: clamp(1.25rem, 3vw + 1rem, 2rem); // Sidebar Links / card titles? 20px, 16px, 32px)
$para: clamp(0.875rem, 3vw + 1rem, 1.25rem); //body 14px, 16px, 20px
$psmall: clamp(0.75rem, 3vw + 0.875rem, 1rem); // small 12px, 14px, 16px